body{
    min-width: 1000px;
    
}

*{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    font-weight: bold;
}



body{
    background-color: yellow;
}
.todo{
    display: flex;
    justify-content: center;
    
}

.todo div{
    
    margin-top: 20px;
    width: 250px;
    height: 400px;
    margin:50px;

}

.fotoPersonaje img{
    width: 270px;
    height: 420px;
}

.banner{
    margin-top:0px;
    width: 100vw;
    min-width: 1000px;
    height: 200px;
    
}
.boton button{
    margin-top: 200px;
    margin-left: 80px;
}
.nombre{
    font-size: 40px;
}

@media (max-width: 500px){
	
    .todo{
        display: flex;
        flex-direction: column;
        
        
    }
    .todo div{
    
        margin:auto;
        width: 400px;
        height: auto;
    
    }

    .desc{
        font-size: 25px;
        
        
        
    }
    .nombre{
        font-size: 40px;
        
    }
    .fotoPersonaje img{
        width: 450px;
        height: 600px;
    }
    .banner{
        display: none;
    }
    .boton button{
        margin-top: 10px;
        margin-left: 0px;
    }


}

